{% extends 'main/base.html' %}

{% block title %}3DMAX{% endblock %}

{% block content %}
<div id = OpenGL>
    <div id = OpenGLText>
        <h1>3DS MAX</h1>
        <p>
            3DS MAX — это профессиональное программное обеспечение для 3D-моделирования, анимации и рендеринга, разработанное компанией Autodesk. Оно широко используется в таких областях, как игровая индустрия, кинематограф, телевидение и архитектура для создания сложных трехмерных сцен, персонажей и объектов.<br>
            Основные области применения 3DS MAX:<br><br>

            - <u>3D-моделирование</u>: Создание детализированных трехмерных моделей объектов или персонажей.<br>
            - <u>Анимация</u>: Оживление моделей путём задания ключевых кадров и использования системы костей и скиннинга.<br>
            - <u>Рендеринг</u>: Производство фотореалистичных или стилизованных изображений с использованием различных техник освещения и материалов.<br>
            - <u>Симуляция</u>: Имитация физических явлений, таких как ткани, жидкости, частицы и динамика твердых тел.<br>
            - <u>Визуализация архитектуры</u>: Создание визуализаций зданий и других архитектурных объектов для представления проектов до их реального строительства.<br><br>

            3DS MAX отличается мощными инструментами и гибкостью, позволяя пользователям создавать сложные и качественные визуальные эффекты и анимации. 
        </p>
    </div>
    <div id = OpenGLImgs>
        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Render_sala.jpg/1200px-Render_sala.jpg">
    </div>
</div>
{% endblock %}