{% extends 'main/base.html' %}

{% block title %}Unreal Engine{% endblock %}

{% block content %}
<div id = OpenGL>
    <div id = OpenGLText>
        <h1>Unreal Engine</h1>
        <p>
            Unreal Engine — это передовой игровой движок, разработанный компанией Epic Games, который также находит широкое применение вне игровой индустрии, включая визуализацию математических моделей и архитектуру.<br>
            Вот как он используется в этих областях:<br><br><br>

            <u>Визуализация математических моделей</u>: Unreal Engine позволяет создавать интерактивные 3D-сцены, которые могут демонстрировать математические концепции и модели в динамике. Например, можно визуализировать геометрические фигуры, графики функций или сложные системы уравнений, превращая абстрактные математические данные в наглядные трехмерные объекты.<br><br>
            <u>Архитектура</u>: В архитектуре Unreal Engine используется для создания реалистичных визуализаций и виртуальных туров по зданиям и ландшафтам ещё до их постройки. Это позволяет архитекторам и клиентам лучше представить конечный результат, оценить пространственные соотношения и материалы, а также провести виртуальные изменения до начала строительства.<br><br>
            <u>Видеоигры</u>: Не стоит забывать об оригинальном назначении данного ПО, т.к. Unreal Engine является лучшим open-source движком для создания видоеигр высокого качества, вплоть до triple-A проектов. Многофункциональный графический движок и наличие визуального программирования делают Unreal сильным, удобным и доступным инструментом.<br><br><br>

            Unreal Engine предлагает высококачественный рендеринг в реальном времени, поддержку сложных физических симуляций и широкие возможности для создания интерактивных приложений, что делает его мощным инструментом для визуализации в различных областях.<br>
        </p>
        <p>Как пример визуализации математических моделей была взята статья С.Сакулина и А.Алфимцева:</p>
        <a href = "https://www.mdpi.com/2571-5577/6/5/74">Multicriteria Decision Making in Tourism Industry Based on Visualization of Aggregation Operators </a>
    </div>
    <div id = OpenGLImgs>
        <img src = "https://habrastorage.org/r/w780/getpro/habr/upload_files/190/466/30f/19046630f65c1c0959ae67bc52478d46.jpg">
        <img src = "https://itproger.com/img/courses/1690888703.jpg">
    </div>
</div>
{% endblock %}