{% extends 'main/base.html' %}

{% block title %}Unity{% endblock %}

{% block content %}
<div id = OpenGL>
    <div id = OpenGLText>
        <h1>Unity</h1>
        <p>
            Unity — это популярная open-source кроссплатформенная среда разработки, которая широко используется для создания видеоигр, кинематогрфа, а также в архитектуре и для трёхмерной визуализации математических моделей. Вот как Unity применяется в этих областях:<br><br><br>

            <u>Создание видеоигр</u>: Unity предоставляет инструменты для разработки 2D и 3D игр, поддерживая широкий спектр жанров и платформ. Разработчики используют Unity для создания игровых механик, интерфейсов, графики, анимации и сценариев, а также для интеграции звука и управления данными.<br><br>

            <u>Архитектура</u>: В архитектуре Unity используется для создания виртуальных туров и реалистичных визуализаций зданий и ландшафтов. Это помогает архитекторам и клиентам визуализировать проекты и проводить виртуальные экскурсии по будущим объектам.<br><br>

            <u>Трёхмерная визуализация математических моделей</u>: Unity позволяет математикам и учёным создавать трёхмерные интерактивные модели, которые могут демонстрировать сложные математические концепции и системы. Это делает абстрактные идеи более понятными и доступными для изучения и анализа.<br><br><br>

            Unity отличается своей гибкостью и доступностью, что делает его популярным выбором среди разработчиков игр и профессионалов в других областях, где требуется трёхмерная визуализация и интерактивность. В сравнении с Unreal Engine здесь нет визуального программирования, однако написание кода на C# интуитивно понятнее чем работа кодом UnrealEngine напрямую. Простота Unity высоко ценится в реализации проектов, где не требуется большая реалистичность, особенно при реализации 2D визуализации.
        </p>
    </div>
    <div id = OpenGLImgs>
        <img src = "https://unity.com/sites/default/files/styles/16_9_l_scale_width/public/2022-05/Unity2022.1-TS-InnovationYourWay.jpg?itok=7EvMDOhm">
        <img src = "https://i.ytimg.com/vi/PIMxsOF1nQY/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGC4gSSh_MA8=&rs=AOn4CLBWr28-CY4XSsvd5SeX1xo2p3fU2w">
    </div>
</div>
{% endblock %}